<div class="w-full bg-gray-100 p-8">
  <nav class="max-w-4xl mx-auto container">
    <ul class="flex gap-8">
      <li class="hover:text-gray-500 hover:scale-110 duration-300 transition ease-in-out">
        <a class="font-bold text-xl" routerLink="/">
          Users
        </a>
      </li>
      <li class="hover:text-gray-500 hover:scale-110 duration-300 transition ease-in-out">
        <a class="font-bold text-xl" routerLink="/favorite">
          Favorite
        </a>
      </li>
    </ul>
  </nav>
</div>